.navbar, .dropdown-menu{
    opacity: .80;
    background-color: #17252f;
    z-index: 10;
}
.navbar, a{
    color: white !important; 
}
.dropdown-menu , a:hover{
    color: #ffc436 !important ;
}
.form-inline{
    display: flex;
}
.mainrow{
  padding: 5%;
  background: #f5f5f5;
  border-radius: 8px;
}
.NavBtn{
    color: white !important;
    border: 1px solid #ffc436 !important ;
}
.NavBtn:hover{
    color: #ffc436 !important ;
    background-color: #8296c8;
}
footer{
    opacity: .80;
    background-color: #17252f;
    z-index: 10;
    color: white;
    margin-bottom: -1.2% !important;
}
body{
    background-image: url(./buildingscityriver.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#rolling-text {
    white-space: nowrap;
    overflow: hidden; 
    animation: roll 5s linear infinite;
  }
  @media (max-width: 767px) {
    #rolling-text {
        white-space: normal;
      animation: roll 4s linear infinite; 
      font-size: 18px;
      width: 100%;
    }
    .subHeading{
        font-size: 20px !important;
    }
    #word{
        font-size: 20px !important;
    }
  }

@keyframes roll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.intro{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    overflow: hidden;
    width: 100%;
    border-right: transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 5s steps(40, end);

}
@keyframes typing {
    from {
      width: 0; 
    }
    to {
      width: 100%; 
    }
  }
  @media (max-width: 767px) {
    .intro {
        height: 350px;
        white-space: normal;
    }
  }
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #17252f;
}
